*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* header */

    /* header con il logo in abckground via css e vari aggiustamenti */
header{
    padding: 15px;
    background-color: #FF6900;
    background-image: url(/img/img/boolean-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6% 54%;
}
    /* mini aggiustamenti per nav */
nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
li:hover{
    text-decoration: underline;
}

    /* reso ul in row e ho spaziato i contenuti */
ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 10px;
    color: white;
    font-weight: 500;

}
    /* correzioni per le icone "d'acquisto" */

#nav-icons{
    display: flex;
    color: white;
    font-weight: 500;
    gap: 10px;
}
i:hover{
    color: blueviolet;
}

/* qui inizia il main */

.container{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.row{
    display: flex;
    width: calc(100%/3);
}

article{
position: relative;
}

/* qui inizia la pare hover sull'immagine */
img{
    max-width: 100%;
    padding: 5px;
    margin-top: 80px;
}

img:hover{
    cursor: pointer;

}
.second-pic{
    display: none;
}
.change-pic:hover .second-pic{
display: inline-block;
}
.second-pic{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 900;
}
/* qui finisce la pare hover sull'immagine */

/* qui inizia la parte delle label sconto e sostenibilità */
.cont-disc{
    display: flex;
    gap: 5px;
    position: absolute;
    top: 650px;
    left: 6px;
}
.discount{
    background-color: red;
    color: white;
    font-weight: bold;
    width: 40px;
    padding: 5px;
}

.sostenibile{
    background-color: green;
    width: 90px;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
/* qui finisce la parte delle label sconto e sostenibilità */

/* qui inizia  heart hover */
.heart{
    position: absolute;
    top: 100px;
    left: 430px;
    font-size: 35px;
}
.heart:hover{
    color: red;
}

/* qui finisce  heart hover */

/* qui inizia le modifiche sul testo descrizione prodotto */

h3{
    color: gray;
}
.price{
    color: red;
}
.prev-price{
    text-decoration: line-through;
    color: gray;
}


/* qui inizia le modifiche sul testo descrizione prodotto */


/* qui finisce il main */

/* Qui inizia il footer */
footer{
    background-color: #1A1A1A;
    height: 80px;
}

.pie-pag{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 10px auto 10px;
}

h4{
    margin-top: 20px;
    color: white;
}
#social{
    color: white;
}

/* Qui finisce il footer */